@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.sans-serif {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "avenir next",
    avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
}

.bg-nav {
/*   background-color: #012060; */
}

.bg-inco-blue {
  /* background-color: rgba(0, 68, 158, 0.55); */
  background-color: rgba(0, 68, 158, 0.03);
}

.bg-blue {
  background-color: #009adf;
}
.blue {
  color: #009adf;
}
.b--blue {
  border-color: #009adf;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
